.footer {
  position: fixed;
  inset: auto 0 0 0;
  z-index: 99999;
  padding: 0.5rem;
}

.footer__wrap {
  /* font-size: clamp(0.8rem, 1.5vw, 1rem); */
  width: min(100%, calc(var(--web-width) / 1.2));
  margin: 0 auto;
  font-size: 0.8rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
  background-image: linear-gradient(
    from bottom,
    var(--clr-bgk),
    var(--clr-bgk) 90%
  );
  /* background-color: lightblue; */
  backdrop-filter: blur(3px);
  & > div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    flex: 1;
  }
}

.footer__links {
  text-transform: capitalize;
  margin-inline: 1rem;
  display: flex;
  justify-content: start;
  gap: 0.3rem;
}

.footer__actions {
  justify-content: end;
  gap: 0.5rem;
}

.theme_toggle {
  display: flex;
  align-items: center;
  font-weight: 600;
  cursor: pointer;
  gap: 0.5rem;
  background-color: transparent;
  color: var(--clr-text-base);
  border: 1px solid var(--clr-accent-2);
  padding: 0.5rem;
  border-radius: 50%;
  transition: all 120ms;
}

.theme_toggle:hover {
  background-color: var(--clr-bgk-base-hover);
}

.theme_toggle:active {
  background-color: var(--clr-accent);
}
