.footer__wrap {
  font-size: clamp(0.8rem, 1.5vw, 1rem);
  padding: 1rem;
  width: min(100%, calc(var(--web-width) / 1.5));
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  & > div {
    display: flex;
    align-items: center;
  }
}

.footer__links {
  text-transform: capitalize;
  margin-inline: 1rem;
  display: flex;
  gap: 0.5rem;
}

.footer__actions {
  justify-content: center;
}

.theme_toggle {
  display: flex;
  align-items: center;
  font-weight: 600;
  cursor: pointer;
  gap: 0.5rem;
  background-color: transparent;
  color: var(--clr-text-base);
  border: 1px solid var(--clr-accent-2);
  padding: 0.5rem;
  border-radius: var(--border-radius-comp);
  transition: all 120ms;
}

.theme_toggle:hover {
  background-color: var(--clr-bgk-base-hover);
}

.theme_toggle:active {
  background-color: var(--clr-accent);
}
