.header {
  padding: 0.5rem;
  box-shadow: 0 1.3rem 1.5rem var(--clr-bgk-base);
}

.header__nav,
.header__links,
.header__actions,
.header__search,
.header__search-icon {
  display: flex;
  align-items: center;
}

.header__nav {
  justify-content: space-between;
  width: min(100%, var(--web-width));
  margin: 0 auto;
}

.header__links {
  --_gap: 0.5rem;

  & li {
    position: relative;
    padding-inline: calc(var(--_gap) / 2);
    /* background-color: lightblue; */
  }

  & li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background-color: var(--clr-accent);
    transition: scale 240ms ease;

    scale: 0 1;
  }

  & li:hover::after {
    scale: 1 1;
  }

  & a {
    text-transform: capitalize;
    padding: 0.8rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 3px;
    & svg {
      transition: transform 240ms linear;
    }
  }

  & a:hover {
    color: var(--clr-text-base-hover);

    & svg {
      transform: rotate(-8deg);
    }
  }
}

.header__actions {
  gap: 1rem;
}

.header__search {
  font-weight: 600;
  cursor: pointer;
  gap: 0.5rem;
  background-color: transparent;
  color: var(--clr-text-base);
  border: 1px solid var(--clr-accent-2);
  padding: 0.5rem;
  border-radius: var(--border-radius-comp);
  transition: all 120ms;
}

.header__search:hover {
  color: var(--clr-text-base-hover);
  background-color: var(--clr-bgk-base-hover);
}

@media (width < 30.4375em) {
  .header__search {
    background-color: transparent;
    & > span {
      display: none;
    }
  }
}
