@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@400;600;800&display=swap");

:root {
  --font: "Assistant", sans-serif;

  --clr-bgk: hsl(0, 0%, 99%);
  --clr-text-h: hsl(0, 0%, 20%);
  --clr-text-h-hover: hsl(0, 0%, 10%);
  --clr-text-base: hsl(0, 0%, 34%);
  --clr-text-base-hover: hsl(0, 0%, 7%);
  --clr-bgk-base: hsl(0, 0%, 90%);
  --clr-bgk-base-hover: hsl(0, 0%, 95%);
  --clr-accent: hsl(195, 53%, 89%);
  --clr-accent-2: hsl(0, 0%, 80%);

  --border-radius-comp: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --clr-bgk: hsl(0, 0%, 7%);
    --clr-text-h: hsl(0, 0%, 90%);
    --clr-text-h-hover: hsl(0, 0%, 70%);
    --clr-text-base: hsl(0, 0%, 74%);
    --clr-text-base-hover: hsl(0, 0%, 90%);
    --clr-bgk-base: hsl(0, 0%, 3%);
    --clr-bgk-base-hover: hsl(0, 0%, 15%);
    --clr-accent: hsl(195, 53%, 89%);
    --clr-accent-2: hsl(0, 0%, 20%);

    color-scheme: dark;
  }
}

html[data-theme="light"] {
  --clr-bgk: hsl(0, 0%, 99%);
  --clr-text-h: hsl(0, 0%, 20%);
  --clr-text-h-hover: hsl(0, 0%, 10%);
  --clr-text-base: hsl(0, 0%, 34%);
  --clr-text-base-hover: hsl(0, 0%, 7%);
  --clr-bgk-base: hsl(0, 0%, 90%);
  --clr-bgk-base-hover: hsl(0, 0%, 94%);
  --clr-accent: hsl(195, 53%, 89%);
  --clr-accent-2: hsl(0, 0%, 80%);
  color-scheme: light;
}

html[data-theme="dark"] {
  --clr-bgk: hsl(0, 0%, 7%);
  --clr-text-h: hsl(0, 0%, 90%);
  --clr-text-h-hover: hsl(0, 0%, 70%);
  --clr-text-base: hsl(0, 0%, 74%);
  --clr-text-base-hover: hsl(0, 0%, 90%);
  --clr-bgk-base: hsl(0, 0%, 3%);
  --clr-bgk-base-hover: hsl(0, 0%, 15%);
  --clr-accent: hsl(195, 53%, 89%);
  --clr-accent-2: hsl(0, 0%, 20%);
  color-scheme: dark;
}

body {
  background-color: var(--clr-bgk);
}

.page__wrapper {
  --web-width: 80em;
  background-color: var(--clr-bgk);
  min-height: 100dvh;
}

.loading_message {
  --_color-success: hsl(121, 94%, 10%);
  --_color-error: hsl(8, 95%, 20%);
  --_color-bgk-success: hsl(107, 67%, 95%);
  --_color-bgk-error: hsl(5, 64%, 95%);
  position: fixed;
  z-index: 9999;
  inset: auto 1rem 1rem auto;
  width: fit-content;
  padding: 0.5rem 0.9rem;
  margin: 1rem auto;
  font-weight: 600;
  border-radius: 0.5rem;
  z-index: 99999999;

  /* transition animations */
  transform: translateY(100%);
  display: hidden;
  opacity: 0;
  transition: opacity 100ms linear, transform 360ms ease;
}

.loading_message[aria-hidden="false"] {
  transform: translateY(0);
  display: block;
  opacity: 1;
  box-shadow: 0 0 16px var(--_color-bgk-success);
  border: 0.5px solid var(--_color-success);
  color: var(--_color-success);
  background-color: var(--_color-bgk-success);
}

.loading_message[data-error="true"] {
  box-shadow: 0 0 16px var(--_color-bgk-error);
  border: 0.5px solid var(--_color-error);
  color: var(--_color-error);
  background-color: var(--_color-bgk-error);
}
