@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@400;600;800&display=swap");

:root {
  --font: "Assistant", sans-serif;

  --clr-bgk: hsl(0, 0%, 99%);
  --clr-text-h: hsl(0, 0%, 20%);
  --clr-text-h-hover: hsl(0, 0%, 10%);
  --clr-text-base: hsl(0, 0%, 44%);
  --clr-text-base-hover: hsl(0, 0%, 10%);
  --clr-bgk-base: hsl(0, 0%, 90%);
  --clr-bgk-base-hover: hsl(0, 0%, 94%);

  --border-radius-comp: 0.3rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --clr-bgk: hsl(0, 0%, 9%);
    --clr-text-h: hsl(0, 0%, 90%);
    --clr-text-h-hover: hsl(0, 0%, 70%);
    --clr-text-base: hsl(0, 0%, 74%);
    --clr-text-base-hover: hsl(0, 0%, 90%);
    --clr-bgk-base: hsl(0, 0%, 3%);
    --clr-bgk-base-hover: hsl(0, 0%, 15%);
  }
}

.page__wrapper {
  --web-width: 70em;
  background-color: var(--clr-bgk);
  min-height: 100dvh;
}
