.main {
  width: min(100%, calc(var(--web-width) / 1.5));
  min-height: calc(100dvh - 4.5rem);
  margin: 9vh auto;
  padding: 0.5rem;
}

.main__form {
  font-size: clamp(0.989rem, 1.5vw, 1rem);
  width: 100%;
  display: flex;
  align-items: center;
  margin: 1rem 0;
  border: transparent;
  outline: 1px solid var(--clr-accent-2);
  border-radius: var(--border-radius-comp);
  transition: all 140ms linear;

  & input {
    flex: 2;
    flex-shrink: 1;
    padding: 0.8rem 0.5rem;
    color: var(--clr-text-h);
    background-color: transparent;
    border: none;
  }

  & input:focus {
    outline: none;
  }

  & button {
    margin: 0 0.8rem;
    cursor: pointer;
    color: var(--clr-text-base);
    text-transform: capitalize;
    border: none;
    background-color: transparent;
    border-radius: var(--border-radius-comp);
  }

  & button:hover {
    color: var(--clr-text-base-hover);
  }
}

.main__form:is(:hover) {
  outline-offset: 3px;
  color: var(--clr-text-base-hover);
  outline: 1px solid var(--clr-text-base);
  background-color: var(--clr-bgk-base);
}

.main__list_title {
  font-size: clamp(0.9rem, 1.5vw, 1rem);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--clr-accent-2);

  & h3 {
    color: var(--clr-text-base);
    font-weight: 600;
  }
}

.main__links {
  display: flex;
  flex-flow: column;
  & svg {
    transition: all 120ms linear;
  }
  & :hover svg {
    transform: rotate(24deg);
  }
}

.main__link {
  opacity: 1;
  transform: translateY(0);
}

.main__link {
  --_gap: 0.8rem;
  & a {
    font-size: clamp(0.8rem, 1.5vw, 1rem);
    overflow: hidden;
    padding: var(--_gap);
    isolation: isolate;
    position: relative;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--border-radius-comp);
    background-color: var(--clr-bgk);
    transition: background-color 120ms;
    & > div {
      flex: 1;
      display: flex;
      flex-wrap: wrap;
      gap: calc(var(--_gap) / 2);

      & div {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: calc(var(--_gap) / 2);
      }
    }

    & h3 {
      flex: auto;
      font-weight: 600;
    }
  }

  & a:is(:hover, :focus) {
    background-color: var(--clr-bgk-base-hover);
  }
}
