.main {
  width: min(100%, calc(var(--web-width) / 1.5));
  margin: 9vh auto;
}

.main__form {
  width: 100%;
  display: flex;
  padding: 0.5rem;
  margin: 2rem 0;
  gap: 0.5rem;

  & input {
    width: 100%;
    padding: 1rem;
    color: var(--clr-text-h);
    background-color: var(--clr-bgk);
    /* border: 1.5px solid var(--clr-bgk-base); */
    border: transparent;
    border-radius: var(--border-radius-comp);
    outline: 1px solid var(--clr-bgk-base);
    outline-offset: 1px;
    transition: outline-offset 140ms linear;
  }

  & input:focus {
    outline: 1px solid var(--clr-text-base);
    outline-offset: 3px;
  }

  & button {
    padding: 0.5rem;
    cursor: pointer;
    color: var(--clr-text-base);
    text-transform: capitalize;
    border: none;
    background-color: var(--clr-bgk);
    border-radius: var(--border-radius-comp);
  }

  & button:hover {
    color: var(--clr-text-base-hover);
    background-color: var(--clr-bgk-base-hover);
  }
}

.main__list_title {
  /* margin: 1rem; */
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--clr-bgk-base);

  & h3 {
    color: var(--clr-text-base);
    font-weight: 500;
  }
}

.main__links {
  /* margin-block: 1rem; */
  display: flex;
  flex-flow: column;
}

.main__link {
  opacity: 0;
  transform: translateY(-100%);
}

.main__link[aria-hidden="false"] {
  opacity: 1;
  transform: translateY(0);
}

.main__link {
  --_gap: 1rem;
  & a {
    overflow: hidden;
    padding: var(--_gap);
    isolation: isolate;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--border-radius-comp);
    background-color: var(--clr-bgk);
    & div {
      flex-wrap: wrap;
      align-items: center;
      display: flex;

      gap: calc(var(--_gap) / 2);
    }
    & h3 {
      font-weight: 600;
    }
  }
}

.main__links li a::after {
  z-index: -1;
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background-color: var(--clr-bgk-base-hover);
  transition: opacity 100ms,
    transform 120ms var(--_transition-delay, 0ms) ease-in-out;
  transform: translateY(var(--_translate, 0));
  opacity: var(--_opacity, 0);
}

.main__links li:hover + li a {
  --_translate: -100%;
  --_transition-delay: 100ms;
}
.main__links li:has(+ :hover) a {
  --_translate: 100%;
  --_transition-delay: 100ms;
}

.main__links li a:hover,
.main__links li:focus-within {
  --_width: 1;
  --_opacity: 1;
}
